<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="width: 15em;
    border: 1px solid rgba(56, 27, 122, 0.521);
    box-shadow: 8px 8px 5px rgb(153, 145, 167);
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);">
        <table style="width:100%;">
            <tr style="text-align:center;">
                <td style="padding-right: 10px;"><img src="assets/Karan-profile.png" width="250" alt="Karan Profile Picture"></td>
                <td class="td1">
                    <h1>Karan Shinde</h1>
                    <p><em>Software Engineer at <strong> <a href="https://new.siemens.com/in/en.html"> Siemens India Pvt Ltd.</a> </strong> From Last 3 Years.</em></p>
                    <p><em>I am an <strong><a href="https://en.wikipedia.org/wiki/Web_developer"> Web Developer</a></strong>. I love To <strong> Travel</strong> and <strong>Play Badminton</strong>.</em></p>
                    <p><em>I have Completed <strong> MCA</strong> from <strong><a href="http://www.sinhgad.edu/">Sinhgad Institutes.</a></strong></em></p>
                </td>
            </tr>
        </table>
        <hr style="background-color:dimgray;height:2px;">
        <h3>Work History</h3>
        <ul>
            <li>FS20 Project</li>
            <li>Zone Control Unit</li>
            <li>SiQuote</li>
            <li>CET</li>
            <li>Panaroma</li>
            <li>Product Promotion Tool</li>
            <li>Event Management</li>
        </ul>
        <hr style="background-color:dimgray;height:2px;">
        <h3>Education History</h3>
        <table>
            <thead>
                <th style="padding-right: 30px;">Passout Year</th>
                <th style="padding-right: 30px;"> Education Type</th>
                <th>School/College Name</th>
            </thead>
            <tbody>
                <tr>
                    <td>2009</td>
                    <td>Priamary Education</td>
                    <td>Dnyanesh Vidya Mandir.Sambhajinagar</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td>2011</td>
                    <td>Higher Secondary Education</td>
                    <td>Mansing Pawar College,Sambhajinagar</td>
                </tr>
                <tr></tr>
                <tr></tr>
                <tr>
                    <td>2014</td>
                    <td>Graduation</td>
                    <td>Vivekanand College</td>
                </tr>
                <tr>
                    <td>2017</td>
                    <td>Post Graduation</td>
                    <td>Sinhgad Institute of Management</td>
                </tr>
            </tbody>
        </table>
        <hr style="background-color:dimgray;height:2px;">
        <h3>My Hobbies</h3>
        <ol>
            <li>Play Badminton</li>
            <li>Watching Movies</li>
            <li>Coding</li>
            <li>Swimming</li>
        </ol>
        <hr style="background-color:dimgray;height:2px;">
        <h3>Skills</h3>
        <table>
            <tr>
                <td>
                    <table>
                        <tr>
                            <td>Angular</td>
                            <td>⭐⭐⭐⭐</td>
                        </tr>
                        <tr>
                            <td>Web Devlopement</td>
                            <td>⭐⭐⭐⭐⭐</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr>
                            <td>UI Devolopment</td>
                            <td>⭐⭐⭐</td>
                        </tr>
                        <tr>
                            <td>Database</td>
                            <td>⭐⭐</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <hr style="background-color:dimgray;height:2px;">
        <h5>Contact Me</h5>
        <ul>
            <li>Email:karanshinde8282@gmail.com</li>
            <li>Mobile No.:9807456532</li>
        </ul>
    </div>
    <div class="col-md-2"></div>
</div>