<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 shadow-lg p-3 bg-light rounded-lg">
    <table class="table table-borderless">
      <tr>
        <td><label class="control-label ">Key File</label></td>
        <td>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <span class="material-icons">
                  insert_drive_file
                </span>
              </span>
            </div>
            <input type="file" style="display: none;" #file>
            <input type="text" class="form-control" placeholder="Key File" id="inputGroupFile01">
            <div class="input-group-append">
              <span class="input-group-text" (click)="file.click()">Choose file</span>
            </div>
          </div>
        </td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr>
        <td></td>
        <td><textarea rows="2" class="form-control"></textarea></td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr>
        <td><label class=" control-label">Mac Address</label></td>
        <td>
          <div class=" input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <span class="material-icons">
                  policy
                </span>
              </span>
            </div>
            <input class="form-control" type="text" placeholder="Mac Address">
          </div>
        </td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr>
        <td><label class=" control-label">Client Name</label></td>
        <td>
          <div class=" input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <span class="material-icons">
                  how_to_reg
                </span>
              </span>
            </div>
            <input class="form-control" type="text" placeholder="Client Name">
          </div>
        </td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr>
        <td><label class="control-label">Licence Type</label></td>
        <td>
          <div class=" input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <span class="material-icons">
                  business_center
                </span>
              </span>
            </div>
            <input class="form-control " type="text" placeholder="License Type">
          </div>
        </td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr>

        <td><label class=" control-label">Expiry Date</label></td>
        <td>
          <div class=" input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">
                <span class="material-icons">
                  date_range
                </span>
              </span>
            </div>
            <input type="date" class="form-control">
          </div>
        </td>
      </tr>
      <tr></tr>
      <tr></tr>
      <tr>
        <td></td>
        <td>
          <textarea rows="4" class="form-control"></textarea>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="btn-toolbar float-right">
            <button type="button" class="btn btn-outline-primary mr-3">Tenant.Lic</button>
            <button type="button" class="btn btn-outline-info">License.Lic</button>
          </div>
        </td>
      </tr>
      <Tr>
        <td></td>
        <td>
          <div class="btn-toolbar pull-left">
            <button type="button" class="btn btn-outline-success">Request License</button>
          </div>
        </td>
      </Tr>

    </table>
  </div>
  <div class="col-md-2"></div>
</div>
