<div class="profile-page">
  <nav class="navbar navbar-color-on-scroll navbar-transparent fixed-top navbar-expand-lg" color-on-scroll="1030"
    id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="#" target="_blank"><strong>Biodata</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="true"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [href]="BiotaDataModel.Facebook" target="_blank">
              <i class="fa fa-envelope"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [href]="BiotaDataModel.Instagram" target="_blank">
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [href]="BiotaDataModel.Email" target="_blank">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="page-header header-filter" data-parallax="true"
    style="background-image:url('assets/BackgroundCover.jpg');">
  </div>
  <div class="main main-raised">
    <div class="profile-content">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img [src]="BiotaDataModel.Photos?.ProfilePhotoName" alt="Circle Image" class="ProfilePhotoRounded">
              </div>
              <div class="name">
                <h2 class="title" *ngIf="isEnglish">{{BiotaDataModel.Name?.english}}</h2>
                <h2 class="title" *ngIf="!isEnglish"> {{BiotaDataModel.Name?.marathi}}</h2>
                <h5>"{{BiotaDataModel.JobProfile?.english}}"</h5>
                <h5 *ngIf="isEnglish">"{{BiotaDataModel.Address?.english}}"</h5>
                <h5 *ngIf="!isEnglish">"{{BiotaDataModel.Address?.marathi}}"</h5>
                <a [href]="BiotaDataModel.Facebook" class="btn btn-just-icon btn-link"
                  style="background-color: darkcyan;"><i class="fa fa-facebook-square" style="color: white;"></i></a>
                <a [href]="BiotaDataModel.Instagram" class="btn btn-just-icon btn-link"
                  style="background-color: darkcyan;"><i class="fa fa-instagram" style="color: white;"></i></a>
                <a [href]="BiotaDataModel.Email" class="btn btn-just-icon btn-link"
                  style="background-color: darkcyan;"><i class="fa fa-envelope" style="color: white;"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="description text-center">
          <p style="font-weight:500; font-size:17px;" *ngIf="isEnglish"><em>{{BiotaDataModel.JobProfile?.english}} <strong>
                <a [href]="BiotaDataModel.CompanyLink">{{BiotaDataModel.CompanyName.english}}</a> </strong>
              {{BiotaDataModel.CompanyExperience}}</em></p>
              <p style="font-weight:500; font-size:17px;" *ngIf="!isEnglish"><em><strong><a [href]="BiotaDataModel.CompanyLink">{{BiotaDataModel.CompanyName.marathi}}</a>
                {{BiotaDataModel.JobProfile?.marathi}}</strong>
              {{BiotaDataModel.CompanyExperience}}</em></p>
          <p style="font-weight:500; font-size:17px;" *ngIf="isEnglish"><em><strong style="color:darkcyan">
                {{BiotaDataModel.Hobby?.english}}</strong></em></p>
          <p style="font-weight:500; font-size:17px;" *ngIf="!isEnglish"><em><strong style="color:darkcyan">
                {{BiotaDataModel.Hobby.marathi}}</strong> </em></p>
        </div>

        <div class="description text-center" *ngIf="isEnglish">
          <button class="btn" style=" background-color: darkcyan;
                  border: none;
                  color: white;
                  padding: 12px 16px;
                  font-size: 14px;
                  cursor: pointer;" (click)="ChangeLang()"><i class="fa fa-language"></i> Change Language</button>
        </div>
        <div class="description text-center" *ngIf="!isEnglish">
          <button class="btn" style=" background-color: darkcyan;
                  border: none;
                  color: white;
                  padding: 12px 16px;
                  font-size: 14px;
                  cursor: pointer;" (click)="ChangeLang()"><i class="fa fa-language"></i> भाषा बदल करा</button>
        </div>

        <div class="row">
          <div class="col-md-10 ml-auto mr-auto">
            <div class="profile-tabs ">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist" *ngIf="isEnglish">
                <li class="nav-item">
                  <a class="nav-link active" href="#PersonalInformation" role="tab" data-toggle="tab">
                    <i class="material-icons">business_center</i>
                    Personal Information
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Qualification" role="tab" data-toggle="tab">
                    <i class="material-icons">school</i>
                    Qualification
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#FamilyInformation" role="tab" data-toggle="tab">
                    <i class="material-icons">people</i>
                    Family Information
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#PhotoGallary" role="tab" data-toggle="tab">
                    <i class="material-icons">collections</i>
                    Photo Gallery
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#ContactMe" role="tab" data-toggle="tab">
                    <i class="material-icons">perm_contact_calendar</i>
                    Contact Me
                  </a>
                </li>
              </ul>
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist" *ngIf="!isEnglish">
                <li class="nav-item">
                  <a class="nav-link active" href="#PersonalInformation" role="tab" data-toggle="tab">
                    <i class="material-icons">business_center</i>
                    वैयक्तिक माहिती
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#Qualification" role="tab" data-toggle="tab">
                    <i class="material-icons">school</i>
                    पात्रता
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#FamilyInformation" role="tab" data-toggle="tab">
                    <i class="material-icons">people</i>
                    कौटुंबिक माहिती
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#PhotoGallary" role="tab" data-toggle="tab">
                    <i class="material-icons">collections</i>
                    फोटो गॅलरी
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#ContactMe" role="tab" data-toggle="tab">
                    <i class="material-icons">perm_contact_calendar</i>
                    मला संपर्क करण्यासाठी
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="tab-content tab-space">
          <div class="tab-pane active text-center " id="PersonalInformation" *ngIf="isEnglish">
            <div class="col-md-10 ml-auto mr-auto shadow-lg p-4 mb-4 bg-white rounded">
              <div class=" card-body text-center">
                <div *ngIf="!IsStringNullOrEmpty(BiotaDataModel.PersonalInformation?.FullName?.english)"
                  class="row mb-2" style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">Name:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.FullName?.english}}</div>
                </div>
                <div *ngIf="!IsStringNullOrEmpty(BiotaDataModel.PersonalInformation?.DateOfBirth?.english)"
                  class="row mb-2" style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">Birth Date:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.DateOfBirth.english}}</div>
                </div>
                <div *ngIf="!IsStringNullOrEmpty(BiotaDataModel.PersonalInformation?.BirthPlace?.english)"
                  class="row mb-2" style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">Birth Place:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.BirthPlace.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.BirthTime?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">Birth Time:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.BirthTime.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.Color?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">Colour:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.Color.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.Height?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">Height:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.Height.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.BloodGroup?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">Blood Group:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.BloodGroup.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.Gotra?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">Gotra:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.Gotra.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.Gan?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">Gan:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.Gan.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.Devak?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">Devak:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.Devak.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.Ras?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">Ras:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.Ras.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.Kuldaivat?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">Kuldaivat:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.Kuldaivat.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.RasName?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">Ras Name:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.RasName.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.Caste?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">Caste:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.Caste.english}}</div>
                </div>
                <hr style="background-color:dimgray;height:2px;">
                  <div class="col-12" >
                    <img *ngIf="BiotaDataModel.Photos?.Kundali"
                    [src]="BiotaDataModel.Photos.Kundali" class="rounded shadow-lg" style="width:inherit">
                  </div>
              </div>
            </div>
          </div>
          <div class="tab-pane active text-center " id="PersonalInformation" *ngIf="!isEnglish">
            <div class="col-md-10 ml-auto mr-auto shadow-lg p-4 mb-4 bg-white rounded">
              <div class=" card-body text-center">
                <div *ngIf="BiotaDataModel.PersonalInformation?.FullName?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">नाव:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.FullName.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.DateOfBirth?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">जन्म दिनांक:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.DateOfBirth.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.BirthPlace?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">जन्म ठिकाण:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.BirthPlace.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.BirthTime?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">जन्म वेळ:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.BirthTime.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.Color?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">रंग :</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.Color.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.Height?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">ऊंची:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.Height.marathi}} </div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.BloodGroup?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">रक्त गट:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.BloodGroup.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.Gotra?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">गोत्र:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.Gotra.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.Gan?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">गण:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.Gan.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.Devak?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">देवक:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.Devak.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.Ras?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">रास:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.Ras.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.Kuldaivat?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">कुलदैवत:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.Kuldaivat.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.RasName?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">रास नाव:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.RasName.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.PersonalInformation?.Caste?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-5"><strong class="text-uppercase">जात:</strong> </div>
                  <div class="col-7">{{BiotaDataModel.PersonalInformation.Caste.marathi}}</div>
                </div>
                <hr style="background-color:dimgray;height:2px;">
                  <div class="col-12" >
                    <img *ngIf="BiotaDataModel.Photos?.Kundali"
                    [src]="BiotaDataModel.Photos.Kundali" class="rounded shadow-lg" style="width:inherit">
                  </div>
              </div>
            </div>
          </div>

          <div class="tab-pane" id="Qualification" *ngIf="isEnglish">
            <div class="col-md-10 ml-auto mr-auto shadow-lg p-4 mb-4 bg-white">
              <div class=" card-body text-center">
                <div *ngIf="BiotaDataModel.Qualification?.Education?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-md-4 "><strong class="text-uppercase">Qualification:</strong> </div>
                  <div class="col-md-8 TextLeftClass">{{BiotaDataModel.Qualification.Education.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.Qualification?.Job?.english" class="row mb-2" style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">Job:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.Qualification.Job.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.Qualification?.Salary?.english" class="row mb-2" style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">Salary:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.Qualification.Salary.english}}</div>
                </div>
                <hr style="background-color:dimgray;height:2px;">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="Qualification" *ngIf="!isEnglish">
            <div class="col-md-10 ml-auto mr-auto shadow-lg p-4 mb-4 bg-white">
              <div class=" card-body text-center">
                <div *ngIf="BiotaDataModel.Qualification?.Education?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-md-4 "><strong class="text-uppercase">शिक्षण:</strong> </div>
                  <div class="col-md-8 TextLeftClass">{{BiotaDataModel.Qualification.Education.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.Qualification?.Job?.marathi" class="row mb-2" style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">नोकरी:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.Qualification.Job.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.Qualification?.Salary?.marathi" class="row mb-2" style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">पगार:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.Qualification.Salary.marathi}}</div>
                </div>
                <hr style="background-color:dimgray;height:2px;">
              </div>
            </div>
          </div>

          <div class="tab-pane text-center" id="FamilyInformation" *ngIf="isEnglish">
            <div class="col-md-10 ml-auto mr-auto clearfix shadow-lg p-4 mb-4 bg-white">
              <div class=" card-body text-center">
                <div *ngIf="BiotaDataModel.FamilyInformation?.GrandfatherName?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4 "><strong class="text-uppercase">Grandfather:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.FamilyInformation.GrandfatherName.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.FamilyInformation?.GrandmotherName?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4 "><strong class="text-uppercase">Grandmother:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.FamilyInformation.GrandmotherName.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.FamilyInformation?.FatherName?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4 "><strong class="text-uppercase">Fathers Name:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.FamilyInformation.FatherName.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.FamilyInformation?.MotherName?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">Mothers Name:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.FamilyInformation.MotherName.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.FamilyInformation?.SisterName?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">Sister:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.FamilyInformation.SisterName.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.FamilyInformation?.BrotherName?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">Brother:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.FamilyInformation.BrotherName.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.FamilyInformation?.Uncle?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">Uncle:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.FamilyInformation.Uncle.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.FamilyInformation?.Mama?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">Mama:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.FamilyInformation.Mama.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.FamilyInformation?.Aatya?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">Aatya:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.FamilyInformation.Aatya.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.FamilyInformation?.Mavshi?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">Mavashi:</strong> </div>
                  <div class="col-sm-8 TextLeftClass ">{{BiotaDataModel.FamilyInformation.Mavshi.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.FamilyInformation?.Relatives?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">Relatives:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.FamilyInformation.Relatives.english}}
                  </div>
                </div>
                <hr style="background-color:dimgray;height:2px;">
              </div>
            </div>
          </div>
          <div class="tab-pane text-center" id="FamilyInformation" *ngIf="!isEnglish">
            <div class="col-md-10 ml-auto mr-auto clearfix shadow-lg p-4 mb-4 bg-white">
              <div class=" card-body text-center">
                <div *ngIf="BiotaDataModel.FamilyInformation?.GrandfatherName?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4 "><strong class="text-uppercase">आजोबा:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.FamilyInformation.GrandfatherName.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.FamilyInformation?.GrandmotherName?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4 "><strong class="text-uppercase">आजी:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.FamilyInformation.GrandmotherName.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.FamilyInformation?.FatherName?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4 "><strong class="text-uppercase">वडिलांचे नाव:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.FamilyInformation.FatherName.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.FamilyInformation?.MotherName?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">आईचे नाव:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.FamilyInformation.MotherName.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.FamilyInformation?.SisterName?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">बहिनीचे नाव:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.FamilyInformation.SisterName.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.FamilyInformation?.BrotherName?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">भावाचे नाव:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.FamilyInformation.BrotherName.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.FamilyInformation?.Uncle?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">काका:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.FamilyInformation.Uncle.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.FamilyInformation?.Mama?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">मामा:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.FamilyInformation.Mama.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.FamilyInformation?.Aatya?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">आत्या:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.FamilyInformation.Aatya.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.FamilyInformation?.Mavshi?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">मावशी:</strong> </div>
                  <div class="col-sm-8 TextLeftClass ">{{BiotaDataModel.FamilyInformation.Mavshi.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.FamilyInformation?.Relatives?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">नाते संबंध:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.FamilyInformation.Relatives.marathi}}
                  </div>
                </div>
                <hr style="background-color:dimgray;height:2px;">
              </div>
            </div>
          </div>

          <div class="tab-pane text-center " id="PhotoGallary" *ngIf="isEnglish">
            <div class="tab-pane text-center gallery " id="favorite">
              <div class="row">
                <div class="col-md-6 ml-auto">
                  <img *ngIf="BiotaDataModel.Photos?.GalleryPhoto?.Photo1"
                    [src]="BiotaDataModel.Photos.GalleryPhoto.Photo1" class="rounded shadow-lg">
                  <img *ngIf="BiotaDataModel.Photos?.GalleryPhoto?.Photo2"
                    [src]="BiotaDataModel.Photos.GalleryPhoto.Photo2" class="rounded shadow-lg">
                  <img *ngIf="BiotaDataModel.Photos?.GalleryPhoto?.Photo3"
                    [src]="BiotaDataModel.Photos.GalleryPhoto.Photo3" class="rounded shadow-lg">
                </div>
                <div class="col-md-6 mr-auto">
                  <img *ngIf="BiotaDataModel.Photos?.GalleryPhoto?.Photo4"
                    [src]="BiotaDataModel.Photos.GalleryPhoto.Photo4" class="rounded shadow-lg">
                  <img *ngIf="BiotaDataModel?.Photos?.GalleryPhoto?.Photo5"
                    [src]="BiotaDataModel.Photos.GalleryPhoto.Photo5" class="rounded shadow-lg">
                  <img *ngIf="BiotaDataModel?.Photos?.GalleryPhoto?.Photo6"
                    [src]="BiotaDataModel.Photos.GalleryPhoto.Photo6" class="rounded shadow-lg">
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane text-center " id="PhotoGallary" *ngIf="!isEnglish">
            <div class="tab-pane text-center gallery " id="favorite">
              <div class="row">
                <div class="col-md-6 ml-auto">
                  <img *ngIf="BiotaDataModel.Photos?.GalleryPhoto?.Photo1"
                    [src]="BiotaDataModel.Photos.GalleryPhoto.Photo1" class="rounded shadow-lg">
                  <img *ngIf="BiotaDataModel.Photos?.GalleryPhoto?.Photo2"
                    [src]="BiotaDataModel.Photos.GalleryPhoto.Photo2" class="rounded shadow-lg">
                  <img *ngIf="BiotaDataModel.Photos?.GalleryPhoto?.Photo3"
                    [src]="BiotaDataModel.Photos.GalleryPhoto.Photo3" class="rounded shadow-lg">
                </div>
                <div class="col-md-6 mr-auto">
                  <img *ngIf="BiotaDataModel.Photos?.GalleryPhoto?.Photo4"
                    [src]="BiotaDataModel.Photos.GalleryPhoto.Photo4" class="rounded shadow-lg">
                  <img *ngIf="BiotaDataModel.Photos?.GalleryPhoto?.Photo5"
                    [src]="BiotaDataModel.Photos.GalleryPhoto.Photo5" class="rounded shadow-lg">
                  <img *ngIf="BiotaDataModel?.Photos?.GalleryPhoto?.Photo6"
                    [src]="BiotaDataModel.Photos.GalleryPhoto.Photo6" class="rounded shadow-lg">
                </div>
              </div>
            </div>
          </div>

          <div class="tab-pane  text-center" id="ContactMe" *ngIf="isEnglish">
            <div class="col-md-10 ml-auto mr-auto clearfix shadow-lg p-4 mb-4 bg-white">
              <div class=" card-body text-center">
                <div *ngIf="BiotaDataModel.ContactMe?.EmailId?.english" class="row mb-2" style="text-align-last: left;">
                  <div class="col-sm-4 "><strong class="text-uppercase">Email:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.ContactMe.EmailId.english}}</div>
                </div>
                <div *ngIf="BiotaDataModel.ContactMe?.MobileNo?.english" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">Mobile No.:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.ContactMe.MobileNo.english}}</div>
                </div>
                <hr style="background-color:dimgray;height:2px;">
              </div>
            </div>
          </div>
          <div class="tab-pane  text-center" id="ContactMe" *ngIf="!isEnglish">
            <div class="col-md-10 ml-auto mr-auto clearfix shadow-lg p-4 mb-4 bg-white">
              <div class=" card-body text-center">
                <div *ngIf="BiotaDataModel.ContactMe?.EmailId?.marathi" class="row mb-2" style="text-align-last: left;">
                  <div class="col-sm-4 "><strong class="text-uppercase">ईमेल:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.ContactMe.EmailId.marathi}}</div>
                </div>
                <div *ngIf="BiotaDataModel.ContactMe?.MobileNo?.marathi" class="row mb-2"
                  style="text-align-last: left;">
                  <div class="col-sm-4"><strong class="text-uppercase">मोबाइल नंबर:</strong> </div>
                  <div class="col-sm-8 TextLeftClass">{{BiotaDataModel.ContactMe.MobileNo.marathi}}</div>
                </div>
                <hr style="background-color:dimgray;height:2px;">
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <footer class="footer text-center" style="background-image:url('assets/BackgroundCover.jpg');">
    <p style="color:rgb(241, 119, 4)"><strong>Copyright © Biota-Gen 2020 Contact Us At</strong></p>
    <p style="color:rgb(241, 119, 4)"><strong>Karan Shinde(7875400636), Prashant Harde(9096062818), Akash Kale(8379988155)</strong></p>
    <p><a href="mailto:biotagen@gmail.com" target="_blank"><strong>biotagen@gmail.com</strong></a></p>
  </footer>
</div>