<table class="col-md-10"
  style="border:1px solid black;margin-left:auto;margin-right:auto;width:100%;">
  <tr>
    <td rowspan="3" style="width: 300px;background-color:#ddebf7;"><img src="assets/Client.png" alt=""></td>
    <td colspan="4" style="background-color:#ddebf7;height:1rem"> <strong>E-Square Leisure Private Limited</strong></td>
    <td style="display:none;"></td>
    <td style="display:none;"></td>
    <td style="display:none;"></td>
  </tr>
  <tr>
    <td colspan="4" style="background-color:#ddebf7;"><strong>132 A,University Road,Ganeshkhind,Pune-411016</strong></td>
    <td style="display:none;"></td>
    <td style="display:none;"></td>
    <td style="display:none;"></td>
    <td style="display:none;"></td>
  </tr>
  <tr>
    <td colspan="4" style="background-color: #00b0f0;"><strong>Electricty Bill -February-2020</strong></td>
    <td style="display:none;"></td>
    <td style="display:none;"></td>
    <td style="display:none;"></td>
    <td style="display:none;"></td>
  </tr>
  <tr>
    <td style="text-align: left;"><strong>Customer Name</strong></td>
    <td colspan="4" ><strong>Carnival Films Pvt Ltd</strong></td>
    <td style="display:none;"></td>
    <td style="display:none;"></td>
    <td style="display:none;"></td>
  </tr>
  <tr>
    <td style="text-align: left;"><strong> Address</strong></td>
    <td colspan="4" style="text-align: center;"><strong>Carnival House,4th Floor,Plot No CTS 104A,Gen A.K. Vaidya Marg,Off Western
      Express Highway,Dindoshi,Malad,Mumbai-400097</strong></td>
    <td style="display:none;"></td>
    <td style="display:none;"></td>
    <td style="display:none;"></td>
  </tr>
  <tr>
    <td rowspan="2" style="text-align: left;"><strong>Billing Period</strong></td>
    <td colspan="2" style="text-align: left;"><strong>Start Date</strong></td>
    <td colspan="2"><strong>02-01-20</strong></td>
    <td style="display:none;"></td>
    <td style="display:none;"></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: left;"><strong>End Date</strong></td>
    <td colspan="2"><strong>03-01-20</strong></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td><strong>1-2-2020 2:00 AM</strong></td>
    <td><strong>1-3-2020 2:00 AM</strong></td>
    <td></td>
  </tr>
  <tr>
    <td style="text-align: left;"><strong>Location Name</strong></td>
    <td><strong>Device No</strong></td>
    <td><strong>Previous Reading</strong></td>
    <td><strong>Preset Reading</strong></td>
    <td><strong>Consumption (kWh)</strong></td>
  </tr>
  <tr>
    <td style="text-align: left;">Screen 5 Exit Staircase RBI Side</td>
    <td style="text-align: left;">EM ID-1</td>
    <td>763.2</td>
    <td>802.8</td>
    <td>39.6</td>
  </tr>
  <tr>
    <td style="text-align: left;">Screen 5 Exit Staircase UNI Side</td>
    <td style="text-align: left;">EM ID-2</td>
    <td>532.6</td>
    <td>561.3</td>
    <td>28.7/td>
  </tr>
  <tr>
    <td style="text-align: left;">Box Office</td>
    <td style="text-align: left;">EM ID-3</td>
    <td>14103.9</td>
    <td>14489.0</td>
    <td>385.1</td>
  </tr>
  <tr>
    <td style="text-align: left;">L1-Consession & Multiplex Lobby-A</td>
    <td style="text-align: left;">EM ID-4</td>
    <td>3262.6</td>
    <td>3726.3</td>
    <td>463.6</td>
  </tr>
  <tr>
    <td style="text-align: left;">L1-Lobby AHU UNI Side</td>
    <td style="text-align: left;">EM ID-5</td>
    <td>0.0</td>
    <td>0.0</td>
    <td>0.0</td>
  </tr>
  <tr>
    <td style="text-align: left;">L1-Lobby AHU RBI Side</td>
    <td style="text-align: left;">EM ID-20</td>
    <td>0.0</td>
    <td>0.0</td>
    <td>0.0</td>
  </tr>
  <tr>
    <td style="text-align: left;"><strong>Total</strong></td>
    <td><strong>A</strong></td>
    <td></td>
    <td><strong>kWh</strong></td>
    <td><strong>33475.31</strong></td>
  </tr>
  <tr>
    <td style="text-align: left;"><strong>Unit Rate</strong></td>
    <td><strong>B</strong></td>
    <td><strong>5</strong></td>
    <td><strong>Rs/kWh</strong></td>
    <td><strong>167376.55</strong></td>
  </tr>
  <tr>
    <td style="text-align: left;"><strong>Total Consumption Charges</strong></td>
    <td><strong>C</strong></td>
    <td><strong>C = A * B</strong></td>
    <td><strong>Rs</strong></td>
    <td></td>
  </tr>
  <tr>
    <td style="text-align: left;"><strong>Total Bill Amount</strong></td>
    <td><strong>D</strong></td>
    <td></td>
    <td><strong>Rs</strong></td>
    <td></td>
  </tr>
  <tr>
    <td colspan="5" style="text-align: left;"><strong>Total Amount In Word:</strong></td>
  </tr>
</table>